@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

.common {
  max-width: 960px;
  margin: 0 auto;
}

/* header */

header {
  display: flex;
  margin: 0 auto;
  padding: 100px 70px;
  padding-bottom: 0;
}

header>h1 {
  width: 60%;
}

header>ul {
  display: flex;
  list-style: none;
  /* width:40%; */
}

header>ul>li {
  width: 100%;
  display: inline;
  line-height: 2;
  padding: 0 16px;
}

h1 {
  font-weight: normal;
  font-size: 24px;
}

header img {
  width: 24px;
  height: 24px;
}

p {
  padding: 0 16px;
}

/* main */

.main img {
  width: 100%;
  height: 420px;
  margin-top: 108px;
}

/* About */

.About {
  padding: 72px;
  display: block;
}

.About h1 {
  text-align: center;
  font-weight: bold;
}

.About article {
  font-size: 12px;
  margin-top: 64px;
}

/* Works */

.Works div {
  display: flex;
  flex-wrap: wrap;
}

.Works h1 {
  text-align: center;
  font-weight: bold;
  padding-top: 64px;
}

.picture {
  padding-top: 64px;
}

.Works img {
  /* width: 160px; */
  width: calc(100% / 4);
  height: 108px;
  padding: 16px;
  display: block;
  margin: 0 auto;
}

/* News */

.News h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 128px;
}

.article {
  padding-top: 64px;
}

.News p {
  border-top: 1px solid #ccc;
  padding: 16px 0;
  font-size: 14px;
}

/* Contact */

.Contact h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 128px;
}

div>label {
  padding: 32px 0 16px 24px;
}

div>input {
  min-width: 80%;
  height: 32px;
  margin: 8px;
}

div>textarea {
  min-width: 80%;
  height: 136px;
}

div>button {
  background: black;
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  width: 180px;
  height: 48px;
}

/* footer */

footer {
  background: black;
  text-align: center;
  height: 32px;
  margin-top: 64px;
}

footer>small {
  color: white;
  font-size: 8px;
  padding: 0;
}

@media (max-width:600px) {

  * {
    margin: 0;
    padding: 0;
  }

  /* header */

  header {
    display: block;
    padding-top: 10px;
  }

  header>h1 {
    margin: 0 auto;
    width: 120px;
  }

  header>ul {
    width:300px;
    margin:0 auto;
  }

  header>ul>li {
    padding: 0 8px;
  }

  /* main */

  .main img {
    width: 100%;
    height: 420px;
    margin-top: 10px;
  }

  /* About */

.About {
  padding: 72px;
  display: block;
}

.About h1 {
  text-align: center;
  font-weight: bold;
}

.About article {
  margin:0 auto;
  font-size: 12px;
  margin-top: 64px;
}

  /* Works */

  .Works div {
    display:block;
  }

  .Works h1 {
    text-align: center;
    font-weight: bold;
    padding-top: 32px;  
  }

  .Works img {
    height: 50%;
    width:90%;
  }

  /* Contact */

  .Contact h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 128px;
  }

  div>label {
    padding: 32px 0 16px 24px;
  }

  div>input {
    min-width: 80%;
    height: 32px;
    margin: 8px;
  }

  div>textarea {
    min-width: 80%;
    height: 136px;
  }

  div>button {
    background: black;
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    width: 180px;
    height: 48px;
  }

}